html, body {
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  display: flex;
  flex-direction: column;
  background: #000428;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(-45deg, #000428, #004e92);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-45deg, #000428, #004e92);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: ivory;
  font: 16px 'Open Sans', sans-serif; }

a:hover {
  color: #004e92;
  text-decoration: underline; }

.site-header {
  height: 10vh;
  width: 100%;
  position: relative; }
  .site-header h1 {
    font-size: 28px;
    margin: 10px 16px;
    display: inline-block;
    vertical-align: middle; }
  .site-header button#reload.btn-link {
    display: inline-block;
    vertical-align: middle;
    float: right;
    color: #cc8548; }
    .site-header button#reload.btn-link:hover {
      color: #b77033; }
    .site-header button#reload.btn-link:after {
      clear: right; }

.container {
  max-width: 70%;
  margin: auto;
  height: auto; }

.question, .end {
  display: none; }

.btn-default {
  color: #000428;
  border-color: #000428; }
  .btn-default:hover {
    color: ivory;
    background-color: #004e92;
    border-color: ivory;
    transition: all 0.5s ease-in; }

button.respond {
  margin-bottom: 1em;
  min-width: 40%; }
  button.respond:first-child {
    margin-right: 1em; }

button[data-value="start"] {
  margin-top: 1em; }

.intro p {
  font-size: 16px;
  line-height: 1.5; }

[class^="reply"] {
  margin-top: 1em; }

.disclaimer {
  text-align: center; }
  .disclaimer p {
    line-height: 1;
    font-size: 12px;
    color: #cc8548; }
  .disclaimer .row {
    border-top: ivory 1px solid;
    padding-top: .5em;
    max-width: 70%;
    margin: 0 auto; }
